:root {
  color-scheme: light dark;

  --main-bg-light: #fff;
  --main-bg-dark: #1a202c;

  --main-text-light: black;
  --main-text-dark: hsl(120, 20%, 80%);

  --main-bg-color: light-dark(var(--main-bg-light), var(--main-bg-dark));
  --main-text-color: light-dark(var(--main-text-light), var(--main-text-dark));
  --main-accent-color: light-dark(
    hsl(from royalblue h 100% 65%),
    hsl(from royalblue h 100% 55%)
  );
  --main-table-header-bg-color: light-dark(
    hsl(from var(--main-bg-color) h s 80%),
    hsl(from var(--main-bg-color) h s 30%)
  );
  --main-unselected-accent-color: lightslategray;

  --main-border: 1px solid light-dark(#333, #ccc);
  --main-shadow: light-dark(#333, #666) 2px 2px 10px;

  --menu-bg-color: light-dark(
    hsl(from var(--main-bg-color) h s 60%),
    hsl(from var(--main-bg-color) h s 10%)
  );
}

* {
  font-family: serif;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,
h2 {
  text-align: center;
}

table {
  border-collapse: collapse;

  td {
    text-align: center;
  }

  thead {
    background-color: var(--main-table-header-bg-color);
    th {
      padding: 0.25rem 0.75rem;
    }
  }
}

a.btn,
button.btn,
input.btn {
  color: unset;
  text-decoration: unset;
  padding: 0.25rem;
  border: var(--main-border);
  border-radius: 4px;

  font-weight: bolder;
  background-color: var(--main-accent-color);

  &:hover,
  &:focus {
    background-color: hsl(from var(--main-accent-color) h s 60%);
  }

  &:active {
    background-color: hsl(from var(--main-accent-color) h s 40%);
  }

  &:disabled {
    background-color: hsl(from var(--main-accent-color) h 0% 40%);
  }
}

button.link {
  all: unset;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

input:user-invalid {
  background-color: salmon;
  color: black;
  font-weight: bolder;
  animation: shake 0.1s infinite;
}

@font-face {
  font-family: "Twemoji Color";
  src: url("/Twemoji.Mozilla.ttf") format("truetype");
  unicode-range: U+00A9-E007F;
}

.flag {
  font-family: "Twemoji Color", "Segoe UI Emoji", system-ui, sans-serif;
}

@media print {
  @page {
    margin: 5mm;
  }
}

@position-try --below-left {
  inset: unset;
  inset-block-start: calc(anchor(bottom) + 0.25rem);
  inset-inline-start: anchor(right);
}

@position-try --below-right {
  inset: unset;
  inset-block-start: calc(anchor(bottom) + 0.25rem);
  inset-inline-end: anchor(left);
}

@position-try --top-right {
  inset: unset;
  inset-block-start: anchor(top);
  inset-inline-end: calc(anchor(right) + 0.5rem);
}

@position-try --top-left {
  inset: unset;
  inset-block-start: anchor(top);
  inset-inline-start: calc(anchor(left) + 0.5rem);
}

@position-try --bottom-center {
  inset: unset;
  inset-block-start: calc(anchor(bottom) + 0.25rem);
  justify-self: anchor-center;
}

@position-try --top-center {
  inset: unset;
  inset-block-end: calc(anchor(top) + 0.25rem);
  justify-self: anchor-center;
}

.hide-in-print {
  @media print {
    display: none !important;
  }
}

@keyframes shake {
  0% {
    transform: translate(0) rotate(0deg);
  }
  25% {
    transform: translate(1px) rotate(1deg);
  }
  50% {
    transform: translate(0) rotate(0deg);
  }
  75% {
    transform: translate(-1px) rotate(-1deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
